.header {
    border-bottom: 1px solid #ECECEC;
    box-sizing: border-box;
    /* padding-top: 24px;
  padding-bottom: 25px; */
}

.nav-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.heade-logo {
    color: var(--btn-color);
    margin-right: 93px;
}

.header-accent {
    color: #000000;
}

.header-nav-list {
    padding-top: 32px, 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.contacts-container {
    margin-left: auto;
}

.header-contacts {
    display: flex;
}

.header-nav-item {
    position: relative;
    display: flex;
}

.header-nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    .current {
        color: var(--btn-color);
    }
}

.contact-icon {
    fill: currentColor;
    align-items: center;
    &:hover,
    &:focus {
        color: var(--btn-color);
    }
}


.header-nav-link:hover,
.header-nav-link:focus,
.current {
    color: var(--btn-color);
}

.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--btn-color);
    border-radius: 4px;
}


.header-contacts {
    margin-left: auto;
    gap: 30px;
}

.header-contacts-link {
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;

    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--btn-color);
    }
}

